h1
{
color:white;
text-align:center;
padding:10px;
}
thead
{
background:grey;
color:lime;
text-align:center;
}
td,table{
background:grey;
color:white;
text-align:center;
border:1px solid red;
padding:10px;
}
body{
background:blue;
}
.container{
background:blue;
color:white;

}
h2
{
color:lightblue;
font-size:20px;
}